<div class="flex-container">
  <div class="flex-item">
    {{#each rootFolders as |folder|}}
      {{expandable-folder folder=folder}}
    {{/each}}
    {{item-adder itemType='folder'}}
  </div>
</div>
